.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
 
}
.button{min-height: 45px; width: 200px; border-radius: 30px; border: 0px none white; background-color: rgb(236, 240, 241); font-family: "Gamja Flower", cursive; color: rgb(60, 60, 60); font-size: 24px;}.button:hover{background-color: rgb(117, 117, 117);}
